@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #008000;
  --secondary: #0E3A0E;
  --Accent: #A8E6A2;
  --Dark: #2B2B2B;
  --Light: #444444;
  --Milky: #F5F5F5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-mulish);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--Accent);
  --color-dark: var(--Dark);
  --color-light: var(--Light);
  --color-milky: var(--Milky);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
    --primary: #008000;
  --secondary: #0E3A0E;
  --Accent: #A8E6A2;
  --Dark: #2B2B2B;
  --Light: #444444;
  --Milky: #F5F5F5;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'mulish';
}
