@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;

    /* From image */
    --border: #0d5d59;
    --text: #7d7d7d;
    --primary: #0d5d59; /* Dark Green */
    --secondary: #05302e; /* Mint Green - Dark */
    --body: #333333; /* Charcoal */
    --light-body: #444444; /* Lighter body color */
    --title: #2b2b2b; /* Grey - D */
    --card: #e6f9e3; /* Card color */
    --white-txt-title: #fffff8; /* White txt title */
    --white-txt-body: #f5f5f5; /* Milky White */
    --card-stroke-light: #f4fffe; /* Card stroke light */
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-Alef);
    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-body: var(--body);
    --color-light-body: var(--light-body);
    --color-title: var(--title);
    --color-card: var(--card);
    --color-border: var(--border);
    --color-text: var(--text);
    --color-white-txt-title: var(--white-txt-title);
    --color-white-txt-body: var(--white-txt-body);
    --color-card-stroke-light: var(--card-stroke-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #000000;

        /* Same color palette in dark mode */

        --border: #0d5d59;
        --primary: #0d5d59;
        --secondary: #05302e;
        --body: #333333;
        --light-body: #444444;
        --title: #05302e;
        --card: #c7f0e0;
        --text: #7d7d7d;
        --white-txt-title: #fffff8;
        --white-txt-body: #f5f5f5;
        --card-stroke-light: #f4fffe;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Alef";
}

.buttonColorFill {
    background: linear-gradient(270deg, #0d5d59 0%, #1bc3bb 97.13%);
    transition: background 0.3s ease;
}

.buttonColorFill:hover {
    background: linear-gradient(270deg, #094542 0%, #159c96 97.13%);
}


  @keyframes ringing {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-15deg); }
    20% { transform: rotate(15deg); }
    30% { transform: rotate(-10deg); }
    40% { transform: rotate(10deg); }
    50% { transform: rotate(-5deg); }
    60% { transform: rotate(5deg); }
    70% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }

  .animate-ringing {
    animation: ringing 1s infinite;
  }
